{% extends "base.html" %}

{% block content %}

<a href="/rio/add/" class="btn btn-success">Adicionar</a>

<hr>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Nome</th>
			<th>Dimensão</th>
			<th>Bacia Hidrográfica</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		{% for rio in dados %}
			<tr>
				<td>{{rio.id}}</td>
				<td>{{rio.nome}}</td>
				<td>{{rio.dimensao}}</td>
				<td>{{rio.bacia_hidrografica}}</td>
				<td style="width: 152px;">
					<a href="/rio/edit/{{rio.id}}/" class="btn btn-info">Editar</a>
					<a href="/rio/delete/{{rio.id}}/" class="btn btn-danger">Excluir</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}