{% extends "base.html" %}

{% block content %}
	
	<a href="/bacia-hidrografica/add/" class="btn btn-success">Adicionar</a>

	<hr>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Nome</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			{% for bh in dados %}
				<tr>
					<td>{{bh.id}}</td>
					<td>{{bh.nome}}</td>
					<td style="width: 152px;">
						<a href="/bacia-hidrografica/edit/{{bh.id}}" class="btn btn-info">Editar</a>
						<a href="/bacia-hidrografica/delete/{{bh.id}}" class="btn btn-danger">Excluir</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
