{% extends "base.html" %}

{% block content %}

<a href="/ponto/add/" class="btn btn-success">Adicionar</a>

<hr>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Rio</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		{% for ponto in dados %}
			<tr>
				<td>{{ponto.id}}</td>
				<td>{{ponto.latitude}}</td>
				<td>{{ponto.longitude}}</td>
				<td>{{ponto.rio}}</td>
				<td style="width: 152px;">
					<a href="/ponto/edit/{{ponto.id}}/" class="btn btn-info">Editar</a>
					<a href="/ponto/delete/{{ponto.id}}/" class="btn btn-danger">Excluir</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}