{% extends "base.html" %}

{% block content %}

<a href="/caso/add/" class="btn btn-success">Adicionar</a> - 
<a href="/caso/pesquisar/" class="btn btn-info">Pesquisar Solução</a>

<hr>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Classificação IAP</th>
			<th>Classificação IVA</th>
			<th>Entorno</th>
			<th>Risco</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		{% for dado in dados %}
			<tr>
				<td>{{dado.id}}</td>
				<td>{{dado.classificacao_iap}}</td>
				<td>{{dado.classificacao_iva}}</td>
				<td>{{dado.entorno}}</td>
				<td>
					{% if dado.risco == 'A' %}
						Alto
					{% else %}
						{% if dado.risco == 'M' %}
							Médio
						{% else %}
							Baixo
						{% endif %}
					{% endif %}
				</td>
				<td style="width: 152px;">
					<a href="/caso/edit/{{dado.id}}/" class="btn btn-info">Editar</a>
					<a href="/caso/delete/{{dado.id}}/" class="btn btn-danger">Excluir</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}